html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: .4s;
  transition-timing-function: ease;
  transition-property: border-bottom, transform;
}

img {
  max-width: 100%;
}

h1, h2, h3, p, ul, figure {
  margin: 0;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition-duration: .4s;
  transition-timing-function: ease;
  transition-property: background-color, border-bottom;
}

button:hover {
  background-color: #005E4B;
}

.header__menu__list__item__link:hover {
  border-bottom: 1px solid #666;
  margin-bottom: -1px;
}

.record-meeting__section__button:hover {
  background-color: #333;
}

.section-answers__container__social-list__item:hover {
  transform: scale3d(1.07, 1.07, 1.07);
  background-color: #fff;
  opacity: 0.88;
  border-radius: 16px;
}

.hero__mobile {
  display: none;
}

.online-groups__container__left__list__item__content__button:hover, .online-groups__container__right__descr__link:hover {
  background-color: inherit;
  transform: none;
  border-bottom: 1px solid #0D93F4;
}

.footer__text:hover {
  border-bottom: 0.5px solid #3333338F;
  margin-bottom: -1px;
}

.footer__container__left__text:hover {
  border-bottom: none;
}

.section-answers__container__accordion__item:hover .icon {
  background: url('../img/accordion-hover-icon.svg') center no-repeat;
}

.questions__list__item:hover ellipse {
  fill: #FF9900;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'), url('../fonts/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'), url('../fonts/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratItalic'), url('../fonts/MontserratItalic.woff2') format("woff2"), url('../fonts/MontserratItalic.woff') format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #F4F2F0;
  position: relative;
}

header {
  width: 100%;
}

main, footer {
  max-width: 1366px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


.flex {
  display: flex;
}

.container {
  width: 84.3%;
  margin: 0 auto;
}

.section-indent {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 104px;
  font-size: 48px;
  color: #333;
  font-weight: 500;
  line-height: 64px;
  font-family: 'Montserrat';
}

/* header */
.header {
  position: fixed;
  z-index: 15;
  top: 0;
  width: 100%;
  transition: all .5s ease;
}

.header.out {
  transform: translateY(-100%);
}

.header__container {
  max-width: 1152px;
  padding-top: 48px;
  align-items: center;
  justify-content: space-between;
}

.menu-burger__header {
  display: none;
}

.header__menu__logo {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 32px;

  color: #33765F;
}

.header__menu__list__item__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #666666;
}

.header__menu__list__item:not(:last-child) {
  margin-right: 24px;
}


/* hero */

.main__hero {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 160px;
  padding-bottom: 80px;
  height: 808px;
  background: url('../img/hero.jpg') 0px center no-repeat;
  background-size: cover;
}

.main__hero__container__content {
  width: 45%;
}

.main__hero__container__content__title {
  margin-bottom: 24px;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 56px;
  line-height: 64px;

  color: #444;
}

.main__hero__container__content__descr {
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;

  color: #333333CC;
}

.main__hero__container__content__record {
  width: 430px;
  position: relative;
}

.record-button {
  font-size: 20px;
  color: #fff;

  border-radius: 10px;
  background-color: #33765F;
}

.main__hero__container__content__record__button {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 68px;
}

.main__hero__container__content__record__descr {
  position: absolute;
  top: 35px;
  z-index: 0;
  padding: 53px 37px 24px 38px;
  height: 125px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3333338F;

  background-color: #F4F2F0;
  border-radius: 10px;
}


/* online-group */

.section {
  width: 93.7%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 24px;
  margin-bottom: 24px;
}

.main__online-groups {
  padding-top: 64px;
  padding-bottom: 80px;
}

.online-groups__container__left__list__item {
  margin-bottom: 80px;
  flex-direction: column;
  width: 320px;
}

.online-groups__container__left__list__item:nth-child(odd) {
  margin-right: 72px;
}

.online-groups__container__left__list__item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.main__online-groups__container {
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 100%;
  width: 90%;
}

.online-groups__container__left__list {
  flex-wrap: wrap;
}


.online-groups__container__left {
  flex-basis: 61.81%;
}

.online-groups__container__right {
  position: sticky;
  top: 64px;
  padding: 32px 32px 23px 32px;
  flex-direction: column;
  flex-basis: 31.94%;
  background-color: #F4F2F0;
  border-radius: 16px;
}

.online-groups__container__right__title {
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
  color: #333;
  text-align: left;
}

.online-groups__container__right__list__item {
  width: 80%;
  background: url('../img/online-groups__point.svg') left 10px no-repeat;
  padding-left: 24px;
  font-size: 20px;
  line-height: 32px;
  color: #666;
  margin-bottom: 16px;
}

.right__list__item-last {
  margin-bottom: 25px;
}

.online-groups__container__right__list__button {
  margin-bottom: 32px;
  width: 100%;
  height: 60px;
}


.online-groups__container__right__descr {
  padding-top: 24px;
  border-top: 1px solid #D9D9D98F;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.online-groups__container__right__descr__link {
  color: #0D93F4;
}

.online-groups__container__left__list__item__content__title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333;
  font-family: 'Montserrat';
}

.online-groups__container__left__list__item__svg {
  margin-bottom: 32px;
  height: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-groups__container__left__list__item__content__descr {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #666;
}

.online-groups__container__left__list__item__content__button {
  padding: 0;
  font-size: 20px;
  line-height: 32px;
  color: #0D93F4;
}


/* meetings */
.section-meetings {
  margin-top: 0px;
  padding-top: 56px;
  padding-bottom: 40px;
}

.section-meeting__container {
  width: 90%;
}

.section-meeting__container__title {
  text-align: center;
}

.section-meeting__container__list {
  flex-wrap: wrap;
}

.section-meeting__container__list__item {
  margin-bottom: 24px;
  padding: 32px 32px 48px 32px;
  width: 31.94%;
  height: 558px;
  background-color: #F4F2F0;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  justify-content: space-between;
}

.section-meeting__container__list__item:nth-child(odd) {
  margin-right: 24px;
}

.section-meeting__container__list__item__number {
  font-family: 'Montserrat';
  font-size: 120px;
  line-height: 120px;
  color: #333;
  font-style: italic;
}

.section-meeting__container__list__item__content__title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: 'Montserrat';
  color: #333;
}

.section-meeting__container__list__item__content__descr {
  font-size: 20px;
  line-height: 32px;
  color: #666;
  text-align: left;
}

.section-meetings__item-2 {
  background: url('../img/meetings-2.jpg') center no-repeat;
  background-size: cover;
  width: 65.97%;
}


.section-meetings__item__number-2, .section-meetings__item__title-2, .section-meetings__item__descr-2 {
  color: #fff;
}

.section-meetings__item__content {
  width: 40%;
}

.section-meetings__item-3 {
  width: 65.97%;
  background: url('../img/meetings-3.svg') right 30px top 50px no-repeat;
  background-color: #F4F2F0;
}

/* information */
.information-section {
  background-color: inherit;
}

.information-section__list {
  justify-content: space-between;
}

.information-section__list__item {
  padding-top: 40px;
  padding-left: 40px;
  height: 628px;
  width: 49.045%;
  border-radius: 24px;
}

.information-section__list__item-1 {
  background: url('../img/information-1.jpg') left no-repeat;
  background-size: cover;
}

.information-section__list__item-2 {
  background: url('../img/information-2.jpg') left no-repeat;
  background-size: cover;
}

.information-section__list__item__descr-1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #fff;
  font-family: 'Montserrat';
  text-align: left;
  width: 55.5%;
}

.information-section__list__item__descr-2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #333;
  font-family: 'Montserrat';
  text-align: left;
  width: 35%;
}

/* group */
.button__center {
  display: none;
}

.section-group__container__title {
  width: 23%;
}

.section-group__container__list {
  border-top: 1px solid #D9D9D98F;
  width: 64.236%;
  flex-direction: column;
}

.section-group__container__list__item {
  border-bottom: 1px solid#D9D9D98F;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-group__container__list__item__last {
  border-bottom: none;
}

.section-group__container {
  justify-content: space-between;
  width: 90%;
}

.section-group {
  padding-top: 56px;
  padding-bottom: 32px;
}

.section-group__container__list__item__number {
  margin-right: 63px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: 'Montserrat';
  color: #33333366;
}

.section-group__container__list__item__content__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  width: 69%;
  font-family: 'Montserrat';
}

.section-group__container__list__item__content__title-last {
  margin-bottom: 24px;
}

.section-group__container__list__item__content__descr {
  width: 90%;
  font-size: 20px;
  line-height: 32px;
  color: #666;
}

.section-group__container__list__item__content__button {
  width: 394px;
  height: 56px;
}



/* experts */

.experts-section {
  margin-bottom: 160px;
  padding-top: 56px;
  padding-bottom: 64px;
}

.experts-section__container {
  width: 90%;
}


.experts-section__container__title {
  margin-bottom: 16px;
}

.experts-section__container__descr {
  margin-bottom: 102px;
  font-size: 20px;
  line-height: 32px;
  color: #666;
  width: 50%;
}

.experts-section__container__list__item:not(:last-child) {
  margin-right: 24px;
}

.experts-section__container__list__item {
  background-color: #F4F2F0;
  border-radius: 16px;
  width: 31.9%;
  display: flex;
  flex-direction: column;
}

.experts-section__container__list__item__img {
  margin-bottom: 30px;
  border-radius: 16px;
}

.experts-section__container__list {
  justify-content: space-between;
  align-items: flex-start;
}

.experts-section__container__list__item__content__name {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #333;
  font-family: 'Montserrat';
}

.experts-section__container__content__list {
  padding-bottom: 16px;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

.experts-section__container__content__list__item {
  border-top: 1px solid #D9D9D9;
  padding: 16px 20px 16px 40px;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  font-weight: 400;
  background: url('../img/chek-experts.svg') left top 16px no-repeat;
}

/* answers */
.section-answers {
  justify-content: center;
  margin-bottom: 160px;
}

.section-answers__container__title {
  text-align: center;
}

.section-answers__container {
  width: 55.6%;
}

.section-answers__container__social-list__item:not(:last-child) {
  margin-right: 10px;
}

.section-answers__container__social-list__item {
  height: 48px;
  transition-duration: .4s;
  transition-timing-function: ease;
  transition-property: transform, opacity, border-radius;
}

.section-answers__container__descr {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 32px;
  color: #3333338F;
  width: 70%;
}

.ui-accordion .ui-accordion-header, .ui-state-active {
  display: flex;
  padding: 36px 0 36px 0;
  margin: 0;
  font-size: 24px;
  background-color: inherit;
  color: #333;
}


.ui-icon {
  background-image: none;
  display: none;
}

.ui-state-default {
  border: none;
}


.ui-widget-content {
  border: none;
  font-size: 16px;
  line-height: 32px;
  background-color: inherit;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 36px;
  background: url('../img/accordion-icon.svg') center no-repeat;
  transition-duration: .3s;
  transition-timing-function: ease;
  transition-property: transform, background;
}


.ui-state-active .ui-icon {
  background-image: none;
  display: none;
}

.ui-state-active .icon {
  transform: rotate(180deg);
}

.ui-state-active {
  padding-bottom: 8px !important;
}

.ui-accordion .ui-accordion-content {
  font-family: 'Noto Sans';
  padding: 0;
  padding-bottom: 33px;
  width: 90%;
}

.section-answers__container__accordion__item__link {
  width: 100%;
  justify-content: space-between;
}

.section-answers__container__accordion__item__question {
  font-weight: 500;
  font-family: 'Montserrat';
  color: #333;
  font-size: 24px;
  line-height: 32px;
}

.section-answers__container__accordion__item {
  border-top: 1px solid #33333329;
  transition-duration: .4s;
  transition-timing-function: ease;
  transition-property: border-top, transfrom, border-bottom;
}

.section-answers__container__accordion__item:last-child {
  border-bottom: 1px solid #33333329;
}

.section-answers__container__accordion {
  margin-bottom: 36px;
}

.section-answers__container__accordion__item__descr {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #666;
}

/* record-meeting */
.record-meeting__section {
  padding: 56px 0 64px 0;
  text-align: center;
  justify-content: center;
  margin-bottom: 56px;

  background: url('../img/heart.svg') left 145px bottom 98px no-repeat,
    url('../img/stars.svg') right 98px top 55px no-repeat;
  background-color: #33765F;
}

.record-meeting__section__container {
  flex-direction: column;
  align-items: center;
  width: 68.3%;
}

.record-meeting__section__title {
  margin-bottom: 40px;
  color: #fff;
}

.record-meeting__section__button {
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 24px;
  background-color: #222;
  width: 480px;
  height: 72px;
  font-size: 24px;
}

.record-meeting__section__descr {
  width: 45%;
  line-height: 24px;
  font-size: 16px;
  color: #FFFFFFA3;
}

.information__icon {
  display: none;
}

.heart {
  display: none;
}

.groups__icon {
  display: none;
}

.stars__mobile {
  display: none;
}

/* footer */
.footer {
  justify-content: center;
}

.footer__container {
  width: 80.82%;
  padding-bottom: 48px;
  justify-content: space-between;
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #3333338F;
}

.footer__text:not(:last-child), .footer__container__svg {
  margin-right: 10px;
}

.footer__container__left, .footer__container__right {
  align-items: center;
}

.footer__logo {
  display: none;
}

/* modal */

.modal {
  position: absolute;
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: .5s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.72);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  display: flex;
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.modal__content {
  width: 86.19%;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 12px;
  top: 12px;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.modal__close-button {
  display: none;
}

.modal__content__left {
  display: none;
  width: 65.97%;
  padding: 32px 0 40px 32px;
  background-color: #fff;
  border-radius: 16px;
  margin-right: 24px;
}

.modal__content__right {
  position: sticky;
  top: 0;
  padding: 32px 32px 23px 32px;
  flex-direction: column;
  flex-basis: 31.94%;
  background-color: #F4F2F0;
  border-radius: 16px;
}

.modal__content__right__last {
  margin-bottom: 32px;
}

.modal-title {
  align-items: center;
  margin-bottom: 48px;
}

.modal__content__left__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  font-family: 'Montserrat';
  color: #333;
}

.modal-title__svg {
  margin-right: 24px;
  height: 120px;
}

.modal__content__left__list__item__title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: 'Montserrat';
  color: #333;
}

.modal__content__left__list__item {
  margin-bottom: 32px;
}

.modal__content__left__list__item__descr {
  width: 80%;
  font-size: 20px;
  line-height: 32px;
  color: #666;
}

.hidden {
  overflow: hidden;
}

/* modal__connect */

.modal__connect__content {
  width: 56.8%;
  position: relative;
  display: flex;
  align-items: stretch;
}


.modal__connect__content__connect__right {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 32px 32px 0 32px;
  background: url('../img/connect__modal__back.svg') right 32px bottom no-repeat;
  background-color: #F4F2F0;
  flex-basis: 47%;
  flex-direction: column;
  align-items: stretch;
}

.modal__connect__content__connect__right__list {
  flex-direction: column;
}

.modal__connect__content__connect__right__list__item:not(:last-child) {
  margin-bottom: 16px;
}

.modal__connect__content__connect__right__list__item {
  padding-left: 24px;
  background: url('../img/online-groups__point.svg') top 8px left no-repeat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #666;
}

.modal__connect__content__connect__left__title {
  margin-bottom: 80px;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

.modal__connect__content__connect__left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  align-items: stretch;
  padding: 32px 32px 39px 32px;
  flex-basis: 53%;
  background-color: #fff;
  flex-direction: column;
}

.modal__connect__content__connect__right__title {
  font-family: 'Montserrat';
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #333;
}

.form {
  flex-direction: column;
  align-items: center;
}

.form__label {
  display: flex;
  flex-direction: column-reverse;
}

.form__label {
  width: 100%;
  position: relative;
}

.input {
  text-align: center;
  width: 100%;
  height: 60px;
  margin-bottom: 8px;
  border: 1px solid#33333329;
  border-radius: 10px;
}

.disp {
  display: block;
}

.js-validate-error-field {
  background: url('../img/validate.svg') right 10px center no-repeat;
  background-color: #fff;
}

.js-validate-error-label {
  padding-left: 10px;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #999;
  font-family: 'DM Sans', sans-serif;
}

.form__button {
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
  background-color: #33765F;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  border-radius: 10px;
}

.modal__connect__content__connect__left__descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ADADAD;
}

/* thank-you__modal */
.thank-you__modal__content {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 56px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.thank-you__modal__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

.thank-you__modal__title {
  margin-bottom: 16px;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #333;
}

.thank-you__modal__descr {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #666666;
}

.thank-you__modal__descr__link {
  color: #0D93F4;
}

.thank-you__modal__button {
  background-color: #33765F;
  width: 336px;
  height: 60px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.thank-you__modal__svg {
  margin-bottom: 40px;
}

.main__hero {
  margin-top: 24px;
}

.scroll {
  background-color: #fff;
  margin-top: -32px;
  padding-bottom: 16px;
}

.scroll__button__mobile {
  display: none;
}

.cursor {
  cursor: url('../img/cursor.svg'), pointer;
}

.nocursor {
  cursor: auto;
}

.agree {
  border-bottom: 1px solid #ADADAD;
}

.main__hero__container {
  width: 90%;
}

.button__center__mobile__modal {
  display: none;
}